section.contacts
	h3.contacts__title Get in touch with us
	p.contacts__text Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla nulla sollicitudin tristique. standard dummy text ever since the 1500s,
	.contacts__social
		a(href="").contacts__social__btn.facebook
			+svg('facebook', 'contacts__social__icon')
		a(href="").contacts__social__btn.twitter
			+svg('twitter', 'contacts__social__icon')
		a(href="").contacts__social__btn.googleplus
			+svg('google-plus', 'contacts__social__icon')
	a(href="tel:").contacts__link.contacts__link__tel +XX-XXXX - XXXX - XX
	a(href="mailto:Businessname@gmail.com").contacts__link.contacts__link__email Businessname@gmail.com