form(action="#" method="post").contact-form
    input(type="text" placeholder="Name" name="userName").contact-form__frame
    input(type="email" placeholder="Email" name="userEmail").contact-form__frame
    textarea(placeholder="Message" name="userMessage").contact-form__frame.contact-form__frame_size
    input(type='submit' value='submit').contact-form__btn