#team
section.team
	.team__wrapper
		.team__row
			include ../title/title
			p.team__desc Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.
		include team-member/team-member