form(action="#" method="post").contact-form
	.contact-form__top-row
		input(type="text" placeholder="Name" name="userName" data-form='contact')#userName.contact-form__frame.contact-form__frame_margin
		input(type="email" placeholder="Email" name="userEmail" data-form='contact')#userEmail.contact-form__frame
	textarea(placeholder="Message" name="userMessage" data-form='contact')#userMessage.contact-form__frame.contact-form__frame_size
	input(type='submit' value='submit')#submitForm.contact-form__btn