.footer {
	background: url("../img/bg-footer.jpg") no-repeat center;
	background-size: cover;
	padding-top: 68px;
	margin-top: 150px;
	&__wrapper {
		@include wrapper;
	}
	&__row {
		@include row-flex;
		&__top {
			margin-top: 96px;
			padding-bottom: 136px;
			@include xs-block {
				margin-top: 40px;
				padding-bottom: 40px;
			}
		}
		&__bottom {
			justify-content: space-between;
			font-family: OpenSansRegular, Arial, sans-serif;
			color:  #ffffff;
			font-size: 14px;
			p {
				line-height: 20px;
				@include col;
				@include xs-block {
					text-align: center;
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
	&__column {
		@include col;
		@include size(6);
		@include size-xs(12);
		&__right {
			@include xs-block {
				order: 1;
			}

		}
	}
	&__bottom {
		border-top: 1px solid #505050;
		padding-top: 40px;
		padding-bottom: 22px;
	}
}

@import "contact-form/contact-form";
@import "contacts/contacts";