extends ../common/pug/layout/main

block title
	| Mobileapp

block mixin
	include  ../common/pug/mixins/mixin-svg
	include ../common/pug/mixins/debug
	include ../blocks/title/titles-data-mixin

block content
	include ../blocks/header/header
	include ../blocks/features/features
	include ../blocks/video/video
	include ../blocks/team/team
	include ../blocks/comments/comments
	include ../blocks/footer/footer


