.menu-sm
	nav.menu-sm__nav#menuNav
		button.menu-sm__close#menuClose
			+svg('cross', 'menu-sm__close__icon')
		.menu__list#menuSmList
			a(href="#home").menu__item.active Home
			a(href="#features").menu__item Features
			a(href="#team").menu__item Team
			a(href="#testimonials").menu__item Testimonials
			a(href="#contact").menu__item Contact