.menu
	button.menu__btn#menuBtn Menu
	nav.menu__nav
		.menu__list#menuList
			a(href="#home").menu__item.active Home
			a(href="#features").menu__item Features
			a(href="#team").menu__item Team
			a(href="#testimonials").menu__item Testimonials
			a(href="#contact").menu__item Contact