nav.menu
    a(href="#").menu__item.action Home
    a(href="#").menu__item Features
    a(href="#").menu__item Team
    a(href="#").menu__item Testimonials
    a(href="#").menu__item Contact


