.svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg_btn-downloand {
	font-size:(32/10)*1rem;
	width:(34/32)*1em;
}
.svg_facebook {
	font-size:(28/10)*1rem;
	width:(16/28)*1em;
}
.svg_google-plus {
	font-size:(28/10)*1rem;
	width:(36/28)*1em;
}
.svg_twitter {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
