.svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg_android {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.svg_appleinc {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.svg_btn-downloand {
	font-size:(32/10)*1rem;
	width:(34/32)*1em;
}
.svg_click {
	font-size:(72/10)*1rem;
	width:(54/72)*1em;
}
.svg_cross {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.svg_facebook {
	font-size:(28/10)*1rem;
	width:(16/28)*1em;
}
.svg_google-plus {
	font-size:(28/10)*1rem;
	width:(36/28)*1em;
}
.svg_like {
	font-size:(72/10)*1rem;
	width:(74/72)*1em;
}
.svg_map {
	font-size:(64/10)*1rem;
	width:(72/64)*1em;
}
.svg_music {
	font-size:(72/10)*1rem;
	width:(60/72)*1em;
}
.svg_navigation {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.svg_twitter {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.svg_user {
	font-size:(72/10)*1rem;
	width:(74/72)*1em;
}
.svg_windows8 {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
