section.video
	.video__wrapper
		.video__row
			.video__column
				h2.video__title Watch the video
				p.video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
				.video__social
					a(href="#").video__social__btn
						+svg('appleinc', 'video__social__icon')
					a(href="#").video__social__btn
						+svg('android', 'video__social__icon')
					a(href="#").video__social__btn
						+svg('windows8', 'video__social__icon')
			.video__column
				.video__relation
					.video__ration
						iframe(src="https://player.vimeo.com/video/49780741" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen).video__content