-
    var data = [
        {
            name: 'Jon Doe',
            post: 'Managing Director',
            title: 'Aenean ut suscipit urna. Donec efficitur',
            text: 'sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.'
        },
        {
            name: 'Jon Doe',
            post: 'Lead Designer',
            title: 'Aenean ut suscipit urna. Donec efficitur',
            text: 'sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.'
        },
        {
            name: 'Jon Doe',
            post: 'Lead Developer',
            title: 'Aenean ut suscipit urna. Donec efficitur',
            text: 'sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.'
        },
        {
            name: 'Jon Doe',
            post: 'Sr. UI Designer',
            title: 'Aenean ut suscipit urna. Donec efficitur',
            text: 'sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.'
        }
    ];

