-
    var commentClient = [
    {
    name: 'Jon Doe',
    post: 'Company Inc.',
    text: 'Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id'
    },
    {
    name: 'Jon Doe',
    post: 'Company Inc.',
    text: 'Lorem'
    },
    {
    name: 'Jon Doe',
    post: 'Company Inc.',
    text: 'Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id'
    },
    {
    name: 'Jon Doe',
    post: 'Company Inc.',
    text: 'Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis.'
    }
    ];