.header {
	background: url(../img/bg-header.jpg) no-repeat;
	min-height: 758px;
	padding-top: 29px;
	@include md-block {
		padding-bottom: 80px;
		min-height: inherit;
	}
	&__wrapper {
		@include wrapper;
		position: relative;
	}
	&__row {
		@include row-flex;
		&__top {
			justify-content: space-between;
			align-items: center;
			padding: 15px 40px;
			position: relative;
			background-color: #ffffff;
			-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
			max-width: 1240px;
			height: 80px;
			margin-left: -40px;
			margin-right: -40px;
			@include sm-block {
				padding: 15px;
				height: 55px;
			}
			&.sticky {
				position: fixed;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				width: 101%;
				margin: 0;
			}
		}
		&__bootom {

		}
	}
	&__img {
		position: absolute;
		width: 382px;
		right: 81px;
		top: 190px;
		@include md-block {
			display: none;
		}
		&_min {
			width: 346px;
			right: 187px;
			top: 252px;
		}
	}
}

@import "logo/logo";
@import "menu/menu";
@import "description/description";