//+debug(12)
header.header
	.header__wrapper
		.header__row
			include logo/logo
			include menu/menu
		img(src="img/iphone.png" alt="iphone").header__img
		img(src="img/iphone.png" alt="iphone").header__img.header__img_min
	include description/description
